[submodule ".reference/defuddle"]
	path = .reference/defuddle
	url = https://github.com/kepano/defuddle
[submodule ".reference/defuddle-cli"]
	path = .reference/defuddle-cli
	url = https://github.com/kepano/defuddle-cli
